<template>
  <div>
    <header
      class="dol-head"
      role="nav"
    >
      <div class="dol-wrapper">
        <div class="dol-logo" />
      </div>
    </header>
    <main
      class="dol-main"
      role="main"
    >
      <div class="dol-wrapper">
        <section class="esc-main">
          <div class="esc-main__picture" />
          <div class="esc-main__content">
            <h2 class="dol-h2">Хмм… Internet Explorer не&nbsp;поддерживается</h2>
            <h4 class="esc-main__text dol-h4">Для поддержки современных стандартов и&nbsp;вашей безопасности проще всего установить актуальную версию бесплатного и&nbsp;современного&nbsp;браузера:</h4>
            <a
              href="https://www.google.com/chrome/"
              rel="noopener noreferrer"
              class="dol-button dol-button_big"
            >Установить Google Chrome</a>
            <div class="esc-main__hint">(мы рекомендуем именно его)</div>

            <section class="esc-alternatives">
              <a
                href="https://www.google.com/chrome/"
                rel="noopener noreferrer"
                class="esc-browser-link esc-browser-link_chrome"
              >
                <span class="dol-link">Google Chrome</span>
              </a>
              <a
                href="https://browser.yandex.ru/"
                rel="noopener noreferrer"
                class="esc-browser-link esc-browser-link_yab"
              >
                <span class="dol-link">Яндекс Браузер</span>
              </a>
              <a
                href="https://www.mozilla.org/ru/firefox/download/thanks/"
                rel="noopener noreferrer"
                class="esc-browser-link esc-browser-link_ff"
              >
                <span class="dol-link">Firefox</span>
              </a>
              <a
                href="https://www.opera.com/ru"
                rel="noopener noreferrer"
                class="esc-browser-link esc-browser-link_opera"
              >
                <span class="dol-link">Opera</span>
              </a>
            </section>
          </div>
        </section>
      </div>
    </main>
    <footer class="dol-footer">
      <div class="dol-wrapper">
        Билайн © 2018 Новый дилер-онлайн
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  head: {
    title: 'IE Escape'
  }
}
</script>

<style lang="scss">
$black: #282828;
$officina-serif: 'Officina Serif', Arial, sans-serif;

@font-face {
  font-family: 'Officina Serif';
  src: url('/fonts/officina-serif-book.woff2') format('woff2'),
    url('/fonts/officina-serif-book.woff') format('woff'),
    url('/fonts/officina-serif-book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
}

.dol-wrapper {
  margin: 0 auto;
  max-width: 950px;
  padding: 0 16px;
  width: 100%;

  @media (min-width: 533px) {
    padding: 0 3%;
  }

  @media (min-width: 1200px) {
    padding: 0;
  }
}

.dol-head {
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(black, 0.4);
  display: flex;
  padding: 22px 0 20px;
  position: relative;
}

.dol-logo {
  @media (min-width: 1200px) {
    margin-left: -86px;
  }

  &::before {
    content: url('/images/dol_logo.svg');
    pointer-events: none;
  }
}

.dol-main {
  background-color: #f1eee9;
  min-height: calc(100vh - 89px - 83px);
}

.esc-main {
  align-items: flex-start;
  display: flex;
  padding-top: 6.67vw;

  @media (min-width: 1200px) {
    padding-top: 80px;
  }

  &__picture {
    $size: 286px;

    align-items: center;
    background-color: #e6e6e6;
    border-radius: 50%;
    display: none;
    flex-shrink: 0;
    height: $size;
    justify-content: center;
    margin-right: 32px;
    width: $size;

    @media (min-width: 830px) {
      display: flex;
    }

    &::before {
      content: url('/images/icn_download.svg');
      display: inline-block;
      line-height: 0;
      pointer-events: none;
    }
  }

  &__content {
    @media (min-width: 830px) {
      margin-top: 16px;
    }
  }

  &__text {
    margin: 24px 0 32px;
  }

  &__hint {
    color: #787878;
    font-family: $officina-serif;
    font-size: 17px;
    line-height: 1.47;
    margin-top: 24px;
    text-align: center;
    width: 100%;

    @media (min-width: 533px) {
      width: 270px;
    }
  }
}

.esc-alternatives {
  align-items: flex-start;
  flex-direction: column;
  margin: 48px 0;

  @media (min-width: 533px) {
    display: flex;
  }
}

.dol-h2,
.dol-h4 {
  font-family: $officina-serif;
  font-weight: normal;
}

.dol-h2 {
  font-size: 30px;
  line-height: 1.2;

  @media (min-width: 533px) {
    font-size: 41px;
    line-height: 1.22;
  }
}

.dol-h4 {
  font-size: 17px;
  line-height: 1.29;

  @media (min-width: 533px) {
    font-size: 21px;
    line-height: 1.43;
  }
}

.dol-button {
  color: $black;
  cursor: pointer;
  display: block;
  font-family: $officina-serif;
  text-align: center;
  text-decoration: none;
  transition: 0.25s ease-out;
  white-space: nowrap;

  @media (min-width: 533px) {
    display: inline-block;
  }

  &:hover,
  &:focus {
    background-image: linear-gradient(-180deg, #fbd580 50%, #fbd580 100%);
    box-shadow: 0 3px 0 0 #ebb26a, 0 4px 0 0 #db9e54,
      0 6px 5px 0 rgba(116, 52, 0, 0.4);
  }

  &:active {
    background-image: linear-gradient(-180deg, #fbd580 50%, #fbd580 100%);
    box-shadow: 0 1px 0 0 #ebb26a, 0 2px 0 0 #db9e54,
      0 3px 5px 0 rgba(116, 52, 0, 0.3);
  }

  &_big {
    background-image: linear-gradient(-180deg, #f8c25b 50%, #fdd06a 100%);
    border-radius: 26px;
    box-shadow: 0 3px 0 0 #ebb26a, 0 4px 0 0 #db9e54,
      0 6px 5px 0 rgba(116, 52, 0, 0.4);
    font-size: 21px;
    line-height: 1.43;
    padding: 12px 18px 10px;
  }
}

.esc-browser-link {
  align-items: center;
  cursor: pointer;
  display: flex;
  text-decoration: none;

  &:first-child {
    .dol-link {
      border-top: 1px solid rgba($black, 0.25) !important;

      @media (min-width: 533px) {
        border-top: none !important;
      }
    }
  }

  &:not(:last-child) {
    @media (min-width: 533px) {
      margin-bottom: 24px;
    }
  }

  &::before {
    display: inline-block;
    line-height: 0;
    margin-right: 12px;
    pointer-events: none;
  }

  &_chrome::before {
    content: url('/images/google_chrome_logo.svg');
  }

  &_yab::before {
    content: url('/images/yandex_browser_logo.svg');
  }

  &_ff::before {
    content: url('/images/firefox_logo.svg');
  }

  &_opera::before {
    content: url('/images/opera_logo.svg');
  }

  .dol-link {
    border-top: none !important;
  }
}

.dol-link {
  border-bottom: 1px solid rgba($black, 0.25);
  color: $black;
  cursor: pointer;
  display: flex;
  font-family: $officina-serif;
  font-size: 17px;
  line-height: 1.47;
  padding: 18px 0 17px;
  text-decoration: none;
  transition: 0.15s ease-out;
  width: 100%;

  @media (min-width: 533px) {
    display: inline-block;
    padding: 0;
    width: auto;

    &::after {
      display: none !important;
    }
  }

  &:first-child {
    border-top: 1px solid rgba($black, 0.25);

    @media (min-width: 533px) {
      border-top: none;
    }
  }

  &:hover,
  &:focus {
    color: #f6a000;

    @media (min-width: 533px) {
      border-color: rgba(#f6a000, 0.25);
    }
  }

  &::after {
    content: url('/images/icn_angle_down.svg');
    display: inline-block;
    margin-left: auto;
    transform: rotate(-90deg);
  }
}

.dol-footer {
  background: url('/images/footer_bg.png') repeat;
  box-shadow: inset 0 20px 20px -20px black, inset 0 -20px 20px -20px black;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding: 35px 0 33px;
}
</style>
